.top {
    width: 100%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #e0e4e8;
    flex-shrink: 0;
    align-items: center;
}

.top h2 {
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
    text-align: center !important;
}

.container {
    display: flex;
    height: 91.6vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e0e4e8;
    border-top: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
}

.menu-title {
    font-size: 1.2rem;
    color: #4d5c6b;
    margin-bottom: 20px;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 1rem;
    color: #6c7a89;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu-item:hover {
    background-color: #e9f2ff;
}

.menu-item.active {
    background: linear-gradient(135deg, #33b06c, #a4ca55);
    color: #fff;
}

.menu-item.active:hover i {
    color: white;
}


.menu-item.active i {
    color: #fff;
}

.menu-item i {
    margin-right: 12px;
    font-size: 1.4rem;
    color: #a3b1c6;
}

.menu-item:hover i {
    color: #007acc;
}

/* Log out style */
.logout {
    margin-top: auto;
    color: #d9534f;
}

.logout i {
    color: #d9534f;
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.content {
    padding: 15px 20px;
    background-color: #f4f7f9;
    flex: 1;
    overflow-y: auto;
}