<div class="budget-planner-wrapper">
    <div class="options">
        <p-button (click)="changeTab('Needs')" class="opt-btn" label="Needs"></p-button>
        <p-button (click)="changeTab('Wants')" class="opt-btn" label="Wants"></p-button>
        <p-button (click)="changeTab('Savings')" class="opt-btn" label="Savings"></p-button>
        <p-button (click)="changeTab('Total')" class="opt-btn" label="Total"></p-button>
    </div>
    <div class="budget-area">
        <div class="opt-tab" *ngIf="chosenTab=='Needs'">
            <p-inputNumber [(ngModel)]="rent" (ngModelChange)="calculateTotalSpent('Needs')" placeholder="Rent" ></p-inputNumber>
            <p-inputNumber [(ngModel)]="groceries" (ngModelChange)="calculateTotalSpent('Needs')" placeholder="Groceries" ></p-inputNumber>
        </div>
        <div class="opt-tab" *ngIf="chosenTab=='Wants'">
            <p-inputNumber placeholder="Shopping" [(ngModel)]="shopping" (ngModelChange)="calculateTotalSpent('Wants')"></p-inputNumber>
            <p-inputNumber placeholder="Travel" [(ngModel)]="travel" (ngModelChange)="calculateTotalSpent('Wants')"></p-inputNumber>
        </div>
        <div class="opt-tab" *ngIf="chosenTab=='Savings'">
            <p-inputNumber placeholder="Education Savings" [(ngModel)]="education" (ngModelChange)="calculateTotalSpent('Savings')"></p-inputNumber>
            <p-inputNumber placeholder="Emergency Savings" [(ngModel)]="emergency" (ngModelChange)="calculateTotalSpent('Savings')"></p-inputNumber>
        </div>
        <div class="total-amounts" *ngIf="chosenTab=='Total'">
            <span> Total spent is {{totalSpent}} $ </span>
            <span> Total spent on Needs is {{needsTotal}} $ </span>
            <span> Total spent on Wants is {{wantsTotal}} $ </span>
            <span> Total spent on Savings is {{savingsTotal}} $ </span>
        </div>
        <div *ngIf="chosenTab !='Total'" class="result">
            <p-button (onClick)="saveTab(chosenTab)"  label=" Save {{chosenTab}}"></p-button>
            <span> Total spent on {{chosenTab}} is {{totalSpent}} $ </span>
            

        </div>
        
    </div>
</div>
